.errorpage-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.errorpage-titles-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorpage-title-1 {
  font-size: 5rem;
  margin: 1rem;
}

.errorpage-title-2 {
  font-size: 3rem;
  white-space: nowrap;
}

.errorpage-title-3 {
  font-size: 2.5rem;
  margin: 0;
}