.stargazing-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.stargazing-box {
  display: flex;
  width: 100%;
}

p.small-card-details {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.cards-holder {
  width: 98%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.repo-list-container {
  padding: 1%;
}

.repo-list-container > h2{
  margin-bottom: 0.5em;
}

h3.card-repo-name {
  overflow-wrap: anywhere;
}

.message-tip {
  font-size: 0.7em;
  margin-bottom: 2em;
  text-align: left;
}

@media (max-width: 700px) {
  .repo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .repo-list-container > h2{
    margin-bottom: 0.5em;
    font-size: 1.3em;
  }

  h3.card-repo-name {
    font-size: 1.2em;
  }

  p.small-card-details {
    font-size: 0.8em;
  }

  .message-tip {
    font-size: 0.4em;
    text-align: center;
  }
}
